body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    scroll-behavior: smooth;
}

.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
    scroll-behavior: smooth !important;
}

.atf-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /*nicht % - denn jede Szene volle Höhe*/
    transform-style: preserve-3d;
    z-index: -1; /*statt -1, bei mehreren Szenen verschwindet der ganze Block hinter anderen Elementen, stattdessen Bilder z-index -1*/
}

.background {
    transform: translateZ(-10px) scale(2);
}

.foreground {
    transform: translateZ(-5px) scale(2);
}

.background,
.foreground {
    position: absolute;
    height: 100%;
    width: 100vw;
    /*inset: 0; /*ersetzt height/width 100%*/
    object-fit: cover;
    /*z-index: -1; /*Bilder hinter den Text*/
}

.title {
    font-size: 120px;
    color: rgb(16 47 26);      
    filter: opacity(0.89);
}

section {
    font-size: 16px;
    padding: 16px;
    background-color: rgb(255, 255, 255);
    color: rgb(16 47 26);
}

header {
    font-size: 16px;
    padding: 16px;
    background-color: rgb(16, 47, 26, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 0;
}

header img {
    width: 25px;
    height: auto;
    padding-left: 16px;
}

header a {
    color: rgb(255 255 255);
    text-decoration: none;
    padding: 5px;
}

header a:hover {
    filter: drop-shadow(4px 6px 8px rgb(66, 206, 66));
    color: rgba(16 47 26);
}

header img:hover {
    filter: drop-shadow(4px 6px 8px rgb(66, 206, 66));
}

.menu-list {
    padding-left: 16px;
    padding-right: 16px;
}

.social-media-logo {
    width: 20px;
    height: auto;
    padding-left: 16px;
}

.social-media-logo:hover {
    filter: drop-shadow(0px 0px 1px rgb(66, 255, 66));
    color: rgba(16 47 26);
    cursor: pointer;

}


/* sorting-section*/

.sorting-section {
    background-color: rgba(169, 202, 179, 1);
    color: rgb(16 47 26);
    /*display: flex;
    align-items: center;
    justify-content: space-around;*/
    padding: 64px;      
    overflow: hidden;
}

.sortDescription{
    display: flex;
    padding: 32px;
}

.sorting-section img {
    height: 150px;
    width: 300px;
    object-fit: cover;
    border-radius: 8px;
    border: 0px solid rgb(16 47 26);
    margin-left: 18px;
}

.sorting-section img:hover {
    cursor: pointer;
    /*transform: scale(1.05); /* Vergrößert das Bild um 20% */
    /*transition: transform 0.3s ease; /* Sanfter Übergang */  
    transform: scale(1.05);
    transition: .5s ease;
}

footer {
    font-size: 16px;
    padding: 16px;
    background-color: rgb(16, 47, 26, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    color: rgb(255 255 255);
    text-decoration: none;
    padding: 5px;
}

footer a:hover {
    filter: drop-shadow(4px 6px 8px rgb(66, 206, 66));
    color: rgba(16 47 26);
}

footer img {
    width: 25px;
    height: auto;
    padding-left: 16px;
    padding-right: 16px;
}

footer img:hover {
    filter: drop-shadow(4px 6px 8px rgb(66, 206, 66));
}
